@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-vitrine-red-500: #41292c;
  --color-vitrine-red-400: #523c3f;
  --color-vitrine-red-300: #624e50;
  --color-vitrine-red-200: #705e60;
  --color-vitrine-red-100: #7d6d6e;

  --color-vitrine-grey-500: #2f2d2e;
  --color-vitrine-grey-400: #424041;
  --color-vitrine-grey-300: #535152;
  --color-vitrine-grey-200: #636162;
  --color-vitrine-grey-100: #ccc8ca;
}
